.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(231, 232, 232);
}

.headerStart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.headerEnd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 3rem;
}

.headerEnd h2{
    font-weight: 500;
    margin-right: 1rem;
}
